.divtwo{border-right: 12px solid #0000ff59;}
.cat{
    padding: 12px;
    border-radius: 5px;
    text-align: center;
  }
  .areas{color:red;font-size:15px;font-weight: bolder;text-transform: capitalize}
  .center{font-size:15px;font-weight: bolder;text-transform: capitalize}

  .bnts{margin-right: 90px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
   
    padding: 12px;
    font-size: 17px;
    margin-bottom: 25px;
    text-transform: capitalize;}
 .dropdown-menu{
  top: 1% !important;
left: 15px !important;
text-align: center;
font-size: 15px;
background: #846c4fba;
cursor: pointer;
color: white;
text-transform: capitalize;
}
 .locationsdrops{ border-bottom: 2px solid #00000024;padding: 7px}
  .locationsdrops:hover{background-color: #ffca00;color: black}
 .search{width: 11%}
 .mat-form-field { width: 50%}
 .tdimages{width: 30%;}
 .bases{border-right: 1px solid #8080806b;}
 .boxshaves{
    border: 1px solid;
    padding: 10px;
    box-shadow:10px 10px 5px 10px 18px grey;background: #0070ff5c}
  .s{ border: 1px solid; padding: 10px;  box-shadow: 5px 10px;background: #0070ff5c  }
  .bbc{ width: 40%; font-weight: bolder; color: #1c2277; font-size: 25px; text-transform: capitalize;} 
    .dff:hover{ color:orange; }
    .sides{color:blue; text-transform: capitalize;}
    .mains{ text-transform: capitalize;}
    .moresde{ color: red;font-size: 14px;}
    .boxshaws{ padding: 10px;box-shadow: 40px 32px 24px black;margin-bottom: 40px;cursor: pointer; }
    .boxshaws:hover{color:orange}
    .imgs{border-right: 2px solid;}
 .titlesshopname{text-align: center;font-size: 25px;}
  .normaldetails{color: black;font-weight: bold;}
    .insidecap{ text-transform: capitalize }
    .side{ color: blue;  text-transform: capitalize;  font-size: 25px;}
    .anchoas{text-decoration: none;
      color: black;
      text-align: center;
      text-transform: capitalize;
      color: red;
      font-size: 15px;
      font-weight: bolder;}
    .mainsone{margin-top:30px}
    .cir{color: greenyellow;text-transform: capitalize;}
    .des{text-transform: capitalize}
    .fw{font-weight: bolder;color:black;}
    .locs{
      text-transform: capitalize;
    }
    .decs{list-style: none;}
    .yai{color:black;}
    .cates{    letter-spacing: 3px;
      color: black;
      text-align: center;
      font-weight: bolder;margin-top: 15px;}
      .h{    margin-right: 20px;font-weight: bolder;}
      .profilesv{
        position: absolute;
        right: 0;
        top: 45px;
        text-align: center;
        margin-left: 42px;
        padding-bottom: 27px;
        z-index: 99999;
      }
      .paras{    color: brown;
        text-transform: capitalize;
        text-align: justify;}
        .subs{font-weight: bolder;}
        .para{    color: rgb(121, 93, 93);
          text-transform: capitalize;
          text-align: justify;}
          .mob{    color: saddlebrown;
            font-size: 50px;
        }
        .apps{color: #468b13;
          font-size: 50px;}
          .adds{color: #10544b;
            font-size: 50px;}
            .mails{    color: #828685;
              font-size: 50px;}

      .about{    text-align: center;
        font-size: 45px;
        color: blue;
        font-weight: bolder;
        font-family: initial;
        letter-spacing: 6px;
        background-color: burlywood;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: -1px -4px black;}
        .name{text-align: center;
          color: blue;
          font-weight: bolder;}
          .names{
            text-align: center;
     font-weight: bolder;
          }
          .feeds1{    border: 1px solid;
            margin-left: 25%;
            padding-top: 40px;
            padding-bottom: 40px;}
            .feedes{    background-color: #a9a9a945;
              border: 24px solid black;}
              .example-form {
                min-width: 150px;
                max-width: 500px;
                width: 100%;
              }
              .bh{margin-left: 42%;
                margin-top: 30px;
                width: 20%;}
                .yt{font-size: 43px;
                  color: red;}

                  .exe{  font-family: initial;
                    font-size: 27px;
                    text-decoration: underline;
                    text-align: center;}
                    .bors{    border-right: 1px solid white;}
                    .bh{margin-left: 42%;
                      margin-top: 30px;
                      width: 20%;}
                      .bti{font-size: 30px;
                        font-weight: bolder;text-transform: capitalize;text-align: center;}
                        .btip{font-weight: bolder;text-align: justify;text-transform: capitalize;font-weight: bolder; color: white;}
                         .blogpo{    cursor: pointer;
                          margin-bottom: 30px;
                          /* -webkit-transition: 1s; */
                          /* transition: 1s; */
                          height:405px;
                          overflow: scroll;}
                         /* .blogpo:hover{transform:scale(1.2);z-index:2;} */
                         .yt{font-size: 43px;
                          color: red;}
                          .fws{font-weight: bolder;color: #ffe9e9;}
                          .example-form {
                            min-width: 150px;
                            max-width: 500px;
                            width: 100%;
                          }
  
  
                          .paras{    color: brown;
                            text-transform: capitalize;
                            text-align: justify;}
                            .subs{font-weight: bolder;}
                            .para{    color: rgb(121, 93, 93);
                              text-transform: capitalize;
                              text-align: justify;}
                              .mob{    color: saddlebrown;
                                font-size:25px;
                            }
                          
                            .dffs{text-align: center;
                              padding-top: 4px;}
                              .icns{
                                margin-left: 12%;
padding-top: 12px;
padding-bottom: 12px;
                              }
                              .apps{color: #468b13;
                                font-size: 25px;}
                                .adds{color: #10544b;
                                  font-size: 25px;}
                                  .mails{    color: #828685;
                                    font-size: 25px;}
                                  .yt{font-size: 43px;
                                    color: red;}
                                    .names{font-size: 15px;text-align: center;}