<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>
  

 <div class="col-sm-12 main">

    <h6 class="mains"> {{datesGetIds.mainTitle}} </h6>
    <b> <span class="dot pull-right"> . </span> Posted On {{datesGetIds.createdAt | date: 'dd/MM/yyyy'}} || {{datesGetIds.createdAt  | date: "shortTime"}} </b>    

</div> 

        <div class="col-sm-12">
            <img src="{{datesGetIds.images1}}" onerror="this.style.display='none'"  style="width:100%;height:300px">
            <div class="caption">
          
        </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="col-sm-12 add" *ngFor="let clients of executivesPersons">

                    <h1 class="adds"> Executive </h1>
                    
                    <img src="{{clients.images}}" class="img-circle" alt="about us" style="width:100%;height:200px">
                    <h3 class="addm"> {{clients.name}} </h3>
<p class=""> Mobile No : {{clients.mobileNo}} </p>
  <p class=""> Email Id : {{clients.emailID}} </p>
                    <p class="addm"> {{clients.description}} </p>
                    <div class="col-sm-12">
                        <h2 class=""> Iam Familiar In This Fields </h2>
                                   <table class="table">
                                    <thead>
                                      <tr>
                                        <th> </th>
                                        </tr>
                                    </thead>   
                             <tbody>
                                <tr class="success" *ngFor="let gets of executivesFields">
                                  <td>    <span class="glyphicon glyphicon-hand-right">  {{gets.fields}}   </span> 
                                    </td> 
                                </tr>
                               
                              </tbody>
                        </table>
                        
                    </div>

                    <b> Posted On {{clients.createdAt | date: 'dd/MM/yyyy'}} || {{clients.createdAt  | date: "shortTime"}} </b>    

                  </div>
                <div class="col-sm-12 add">
                    <h1 class="adds"> Address </h1>
                    <h4 class="addm"> H No : {{datesGetIds.Hno}} , {{datesGetIds.streetNo}}, {{datesGetIds.colony}}, {{datesGetIds.area}}, {{datesGetIds.city}}, {{datesGetIds.pincode}} </h4>
           
                  </div>
                  <div class="col-sm-12 add">
                      <h1 class="adds"> contact No </h1>
                      <h4 class="addm"> Name : <span class="con"> {{datesGetIds.name}} </span>  </h4>
                      <h4 class="addm"> Mobile No : <span class="con">  {{datesGetIds.mobileNo}} </span></h4>
                      <h4 class="addm"> WhatsApp No : <span class="con">  {{datesGetIds.whatsApp}} </span></h4>
                      <h4 class="addm"> Mail ID   : <span class="con">  {{datesGetIds.emailid}} </span></h4>

                    </div>
            </div>

            <div class="col-sm-9">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <h4 class="names"> Name : {{datesGetIds.name}} </h4>

                    </div>
                    <div class="col-sm-12">
                        <h4 class="name">  {{datesGetIds.subTitle}} </h4>
                         <p class="namess"> <span class=""> {{datesGetIds.description}} </span>  </p>
 
                    </div>
            

                 

                </div>
<div class="col-sm-12">
  <div class="col-sm-6  adforms">
    <form class="example-form">
     
   <!-- ****************************catageries******************************** -->
   
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder=" Title " [(ngModel)]="clientsCatImg.title" name="name">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field1" type="text" [(ngModel)]="clientsCatImg.field1" name="mobileNo">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field2" type="text" [(ngModel)]="clientsCatImg.field2" name="emailid">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field3" [(ngModel)]="clientsCatImg.field3" name="Hno">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field4" [(ngModel)]="clientsCatImg.field4" name="streetNo">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field5" [(ngModel)]="clientsCatImg.field5" name="colony">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field6" [(ngModel)]="clientsCatImg.field6" name="area">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="field7" [(ngModel)]="clientsCatImg.field7" name="city">
  </mat-form-field>
  </form>
    </div>

    <div class="col-sm-6  adforms">
      <form class="example-form">
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="field8" [(ngModel)]="clientsCatImg.field8" name="pincode">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="field9" [(ngModel)]="clientsCatImg.field9" name="mainTitle">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="field10" [(ngModel)]="clientsCatImg.field10" name="subTitle">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="field11" [(ngModel)]="clientsCatImg.field11" name="subTitleOne">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="please enter LINKS" [(ngModel)]="clientsCatImg.field12" name="subTitleOne">
    </mat-form-field>
    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInputClientsCatImg($event,'images')"  name="images1"> 

      </form>
      </div>
    <button class="btn btn-danger" (click)="postClientsCatImg()"> Submit </button>

</div>
   <div class="col-sm-12"  *ngFor="let clients of clientsCatImgs">
       <div class="col-sm-5">
        <img src="{{clients.images}}" onerror="this.style.display='none'"  style="width:100%;height:350px;border:1px solid black;">
        <div class="col-sm-3 yout">
          <iframe width="420" height="345" src="{{clients.field12}}">
          </iframe>          
        </div>
        <button class="btn btn-danger" (click)="clientsDelete(clients)"> Delete </button>

       </div>
      
       <div class="col-sm-7">
        <h5 class="titleimg"> <b> {{clients.title}} </b> </h5>
        <h5 class=""> <b> {{clients.field1}} </b> </h5>
        <h5 class=""> <b> {{clients.field2}} </b> </h5>
        <h5 class=""> <b> {{clients.field3}} </b> </h5>
        <h5 class=""> <b> {{clients.field4}} </b> </h5>
        <h5 class=""> <b> {{clients.field5}} </b> </h5>
        <h5 class=""> <b> {{clients.field6}} </b> </h5>
        <h5 class=""> <b> {{clients.field7}} </b> </h5>
        <h5 class=""> <b> {{clients.field8}} </b> </h5>
        <h5 class=""> <b> {{clients.field9}} </b> </h5>
        <h5 class=""> <b> {{clients.field10}} </b> </h5>
        <h5 class=""> <b> {{clients.field11}} </b> </h5>
     
      </div>


</div>
</div> 

 
    </div>