<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>


<div class="col-sm-6">
  <div class="col-sm-7">
      <h1> creating disticts form</h1>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="locations" [(ngModel)]="locationsdata.locations" name="locations">
        </mat-form-field>
        <button (click)="postlocations()"> sublit </button>
    </div>
    
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{locationName}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let get of locationsgets" (click)="locations(get)">{{get.locations}}</li>
        </ul> 
    </div>
    
</div>

<div class="col-sm-6">

  <div class="col-sm-7 loc">
      <h1> creating area form</h1>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="locations" [(ngModel)]="areas.area" name="area">
        </mat-form-field>
  
        <button (click)="postarea()"> sublit </button>
  
    </div>
  
<div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectArea}}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
            </ul> 
    </div>
    
</div>


<div class="col-sm-6">

  <div class="col-sm-7">
      <h1> Creating Local Areas Form</h1>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Local Areas" [(ngModel)]="lAreas.localArea" name="area">
        </mat-form-field>
  
        <button (click)="postLocalarea()"> sublit </button>
  
    </div>
  
<div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{localAreaResults}}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let gets of localAreaData" (click)="selectedLocalAreas(gets)">{{gets.localArea}}</li>
            </ul> 
    </div>
    
</div>
<div class="col-sm-6">
<div class="col-sm-4" *ngFor="let gets of localAreaData">
<h6 class=""> {{gets.localArea}} - {{gets._id}} </h6>
</div>
</div>
<div class="col-sm-12">
  
<div class="col-sm-6  adforms">
  <form class="example-form">
   
 <!-- ****************************catageries******************************** -->

 <mat-form-field class="example-full-width">
  <input matInput placeholder="Adding Catageries to Local Areas" [(ngModel)]="catageriesLocals.catageries" name="hno">
</mat-form-field>



     <!-- ****************************image1****************************** -->
<input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images')" [(ngModel)]="catageriesLocals.images" name="images1">

   <!-- ****************************image2******************************** -->

  </form>
  </div>
  <button type="submit" class="btn-large btn-submit"  (click)="postCatageriesLocals()">Submit</button>

</div>


  <div class="col-sm-12">
  
 
<h4 class=""> MY EXECUTUVES DETAILS - {{localAreaResults}}</h4>

    <mat-form-field class="example-full-width">
      <input matInput placeholder=" Name " [(ngModel)]="executives.name" name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder=" mobileNo " [(ngModel)]="executives.mobileNo" name="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder=" emailID " [(ngModel)]="executives.emailID" name="name">
    </mat-form-field>
          
              <mat-form-field class="example-full-width">
                    <input matInput placeholder="please Descriptions" [(ngModel)]="executives.description" name="descriptions">
                  </mat-form-field>
              
               <hr/>
               <p>   Executive Images </p> 
               <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInputExecuties($event,'images')"  name="images1">

 
<hr/>
   <button class="btn-primary upbuttons" (click)="postExecutives()"> submit </button>
     
 
</div>

<div class="col-sm-12" *ngFor="let clients of executivesPersons">
  <div class="col-sm-4">
    <b> Posted On {{clients.createdAt | date: 'dd/MM/yyyy'}} || {{clients.createdAt  | date: "shortTime"}} </b>    
 
      <img src="{{clients.images}}" alt="about us" style="width:100%;height:200px">
    </div>
      <div class="col-sm-6">
        <h3 class=""> Name: {{clients.name}} </h3>
        <p class=""> Mobile No : {{clients.mobileNo}} </p>
        <p class=""> Email Id : {{clients.emailID}} </p>
      
        <p class=""> {{clients.description}}    </p>
      </div>
  

  <button class="btn btn-danger" (click)="deleteExecutives(clients)"> Delete </button>

  <div class="col-sm-12">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Fields" [(ngModel)]="exeFields.fields" name="descriptions">
    </mat-form-field>
    <button class="btn btn-primary upbuttons" (click)="postExecutivesFields(clients)"> Submit </button>
  </div>

<div class="col-sm-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> </th>
        <th> </th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gets of executivesFields">
        <td> {{gets.fields}}  </td>
        <td>   <button class="btn btn-danger upbuttons" (click)="postExecutivesFieldsDelete(gets)"> Delete </button>
         </td>
      </tr>
     
    </tbody>
  </table>

</div>
</div>








  <div class="col-sm-12">
   
       <div class="col-sm-4"    *ngFor="let one of catageriesLocalsData">

        <a [routerLink]="['./adminsDetails',one._id,one.catageries]">
          <img src="{{one.images}}" alt="about us" style="width:100%;height:200px">
      <h3 class=""> {{one.catageries}} </h3>..
  
    </a>
   
    </div>
   
   </div>

  