<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>

<div class="col-sm-12">
  <div class="col-sm-12">
    <h6 class="mains"> <b> {{clientsImgsId.mainTitle}} </b> </h6>

  </div>

  <div class="col-sm-12">
    <img src="{{clientsImgsId.images1}}"  style="width:100%;height:300px">
    <div class="caption">
  
</div>
</div>
 
</div>

<div class="col-sm-12 imgs">
  <div class="col-sm-4 picoff" *ngFor="let clients of clientsCatImgs">
    <img src="{{clients.images}}" onerror="this.style.display='none'"  style="width:100%;height:250px;border: 5px solid black;">
    <div class="caption">
  <h5 class="titleimg"> <b> {{clients.title}} </b> </h5>
    </div>
    <button class="btn btn-danger" (click)="clientsDelete(clients)"> Delete </button>

  </div>
<div class="col-sm-12">
  <div class="col-sm-4" *ngFor="let clients of clientsCatVidRes">
    <div class="col sm-12" *ngIf="clients.videos">
      <video width="100%" height="260" controls muted>
        <source src="{{clients.videos}}" type="video/mp4">
          <h5 class=""> <b> {{clients.title}} </b> </h5>

       </video>
    </div>
     
    <button class="btn btn-danger" (click)="clientsDeleteVid(clients)"> Delete </button>

             
      </div>
</div>
  

</div>