.mains{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 10px;

}
.main{background-color: #0000ff59; margin-bottom: 50px;}
.add{background-color: bisque;margin-bottom:10px;}
.imgs{margin-top: 20px;}
.titleimg{text-align: center;
    font-size: 20px;
    text-transform: capitalize;}
    .picoff{margin-bottom: 12px; transition: 1s;}
    .picoff:hover{transform:scale(1.2);z-index:2;}