<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>

<div class="col-sm-6  adforms">
  <form class="example-form">
   
 <!-- ****************************catageries******************************** -->
 

<mat-form-field class="example-full-width">
  <input matInput placeholder=" Name " [(ngModel)]="clients.name" name="name">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="mobileNo" type="number" [(ngModel)]="clients.mobileNo" name="mobileNo">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="whatsApp" type="number" [(ngModel)]="clients.whatsApp" name="mobileNo">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="emailid" type="email" [(ngModel)]="clients.emailid" name="emailid">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Hno" [(ngModel)]="clients.Hno" name="Hno">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="streetNo" [(ngModel)]="clients.streetNo" name="streetNo">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="colony" [(ngModel)]="clients.colony" name="colony">
</mat-form-field>

 
 
  </form>
  </div>

  <div class="col-sm-6  adforms">
    <form class="example-form">
     
   <!-- ****************************catageries******************************** -->
  
   <mat-form-field class="example-full-width">
    <input matInput placeholder="area" [(ngModel)]="clients.area" name="area">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="city" [(ngModel)]="clients.city" name="city">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="pincode" [(ngModel)]="clients.pincode" name="pincode">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="mainTitle" [(ngModel)]="clients.mainTitle" name="mainTitle">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="subTitle" [(ngModel)]="clients.subTitle" name="subTitle">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder=" description " [(ngModel)]="clients.description" name="name">
  </mat-form-field>
 
  
  <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images1')"  name="images1"> 
 
 
    </form>
    </div>
    <button type="submit" class="btn btn-success" (click)="postDetailsLocals()">Submit</button>


<div class="col-sm-12">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="search by name / area / pincode" (ngModelChange)="searchFilter()" [(ngModel)]="searchString" name="searchString">
</mat-form-field>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Sl No</th>
        <th> Name</th>
        <th>Mobile No</th>
        <th>Address</th>
        <th> View Details </th>
        <th> Delete </th>
        <th>    </th>
        <th>   </th>

      </tr>
    </thead>
    <tbody *ngFor="let clients of clientsGetData,index as i">
      <tr> 
        <td>  {{i+1}}  </td>
        <td> {{clients.name}} </td>
        <td> {{clients.mobileNo}} </td>
        <td> 
          {{clients.Hno}},{{clients.streetNo}},{{clients.colony}},{{clients.area}},{{clients.city}},{{clients.pincode}} 
     <div class="col-sm-12">
      <button type="button" class="btn btn-warning" (click)="mainMenuShowGet(clients._id)"> Check Status </button> 
 
     </div>
            <div class="col-sm-12" *ngFor="let status of statusOneGetDetails">

            <div class="col-sm-12" *ngIf="showmains && selectedId == clients._id"> 
 
              <h4 class=""  class="u circles"> <i class="fa fa-circle circles" aria-hidden="true"></i> 
                {{status.statusOne}}
                <button type="button" class="btn btn-danger" (click)="statusOneDeletes(status)"> Delete </button> 
              </h4>

            </div>

          </div>
          <div class="col-sm-12" *ngFor="let status of statusTwoGetDetails">

            <div class="col-sm-12" *ngIf="showmains && selectedId == clients._id"> 
 
              <h4 class=""  class="u cir"> 
                <i class="fa fa-circle cir" aria-hidden="true"></i>
                 {{status.statusTwo}}
                 <button type="button" class="btn btn-danger" (click)="statusTwoDeletes(status)"> Delete </button> 
                </h4>
            </div>

          </div>
        </td>
        <td>   <button type="button" class="btn btn-success" [routerLink]="['/adminsClassifieds/adminsClientsDetails',clients._id,clients.name]">View </button> </td>
        <td>   <button type="button" class="btn btn-danger" (click)="clientsDelete(clients)">Delete </button> </td>
        <td>  
          <button type="button" class="btn btn-warning" (click)="mainMenuShow(clients._id)"> Status </button> 
         
</td>
<td *ngIf="showmains && selectedId == clients._id">
 
  <div class="">
    <p class=""> Status One </p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Status One" [(ngModel)]="statusOne.statusOne" name="description5">
    </mat-form-field>
    <button class="btn btn-danger" (click)="clientsStatusOne(clients._id)"> Status One </button>
  
  </div> 
  <div class="">
    <p class=""> Status Two </p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Status One" [(ngModel)]="statusTwo.statusTwo" name="description5">
    </mat-form-field>
    <button class="btn btn-danger" (click)="clientsStatusTwo(clients._id)"> Status Two </button>
  
  </div> 
</td>

         
      </tr>
    
       
    </tbody>
  </table>
</div>
 


