.dropdown-menu{
    top: 1% !important;
  left: 15px !important;
  text-align: center;
  font-size: 15px;
  background: #846c4fba;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  }
   .locationsdrops{ border-bottom: 2px solid #00000024;padding: 7px}
    .locationsdrops:hover{background-color: #ffca00;color: black}
    .circles{color: green;text-transform: capitalize;}
    .cir{color: red;text-transform: capitalize;}