 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header col-sm-8">
      <a class="navbar-brand yesT">  <img src="assets/images/logo.jpg"    style="width:33%">    </a>
  
    </div>
       
<div class="col-sm-8 profilesv">
 
  
   <div class="col-sm-12 col-xs-8 pull-right">
    <a [routerLink]= "['/classifieds/classifieds']" class="h">  Home  </a>  
    <a [routerLink]= "['/classifieds/AboutUs']" class="h">  About Us  </a>  
    <a [routerLink]= "['/classifieds/ContactUS']" class="h">  Contact Us  </a>  
    <a [routerLink]= "['/classifieds/Feedbacks']" class="h">  Feedback  </a>  
    <a [routerLink]= "['/classifieds/Blogs']" class="h">  Blogs  </a>  

           <!-- <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a>  -->
   </div>
  
</div>

  
  </div>
</nav>

<div class="col-sm-12" *ngFor="let gets of aboutUsgets">
  <div class="col-sm-12">
    <h1 class="about"> ABOUT US </h1>
 
  </div>

  <div class="col-sm-12">
    <div class="col-sm-6">
      <img src="{{gets.image}}" alt="about us" style="width:100%;height:400px">

    </div>
    <div class="col-sm-6">
      
      <h1 class="name"> {{gets.name}} </h1>

      <h1 class="names"> {{gets.mainTitle}}  </h1>

      <h5 class="subs"> {{gets.subtitle}} </h5>
      <p class="paras">{{gets.description}} </p>

    </div>
  </div>

  <div class="col-sm-12">
    <h1 class="names"> {{gets.mainTitle1}} </h1>

    <h5 class="subs"> {{gets.subtitle1}} </h5>
    <p class="para"> {{gets.description1}}</p>


    <h1 class="names"> {{gets.mainTitle2}} </h1>

    <h5 class="subs"> {{gets.subtitle2}}</h5>
    <p class="para">{{gets.description2}} </p>



    <h1 class="names"> {{gets.mainTitle3}}</h1>

    <h5 class="subs"> {{gets.subtitle3}} </h5>
    <p class="para"> {{gets.description3}}  </p>


  </div>


</div>























 
<div class="col-sm-12 footerback">
  
  <div class="col-sm-12 catas">
      <div class="col-sm-4 bors">
  <h1 class="exe"> EXECUTIVE PERSONS </h1>
  <div class="col-sm-12">
    <img src="{{executivesPersonsId.images}}" alt="about us" style="width:100%;height:200px">
    <h3 class=""> Name: <span class="fws"> {{executivesPersonsId.name}} </span>  </h3>
    <p class=""> Mobile No : <span class="fws">  {{executivesPersonsId.mobileNo}} </span> </p>
    <p class=""> Email Id : <span class="fws">  {{executivesPersonsId.emailID}} </span></p>
    
    <p class="des"> {{executivesPersonsId.description}}    </p>
  </div>
      </div>
    
      <div class="col-sm-4 blogpo">
        <h1 class="exe"> BLOGS </h1>
        <div class="col-sm-12 " *ngFor="let gets of blogsgets">
          <a href="{{gets.links}}"> 
      <h1 class="bti"> {{gets.mainTitle}} </h1>
         
            <img src="{{gets.image}}" alt="about us" style="width:100%;height:150px">
            <p class="btip">  {{gets.subtitle}}</p>
            <p class="btipp"> {{gets.description}} </p>
          </a>
         </div>
            </div>
            <div class="col-sm-4" *ngFor="let gets of aboutUsgets">
              <h1 class="exe" [routerLink]= "['/classifieds/Feedbacks']"> FEEDBACK </h1>
              <h1 class="exe"> CONTACT US </h1>
              <div class="col-sm-12">
        
                <h1 class="names"> {{gets.name}} </h1>
          
                <h1 class="names"> <i class="fa fa-mobile mob" aria-hidden="true"></i>
                   Mobile No : {{gets.mobileNo}}  </h1>
                <h1 class="names">
                  <i class="fa fa-whatsapp apps" aria-hidden="true"></i>
          
                  whatsApp : {{gets.whatsapp}}  </h1>
               <h1 class="names"> <i class="fa fa-envelope mails" aria-hidden="true"></i>
                
                  Email Id : {{gets.emailid}} </h1>
                <h1 class="names"> 
                  <i class="fa fa-home adds" aria-hidden="true"></i>
          
                  Address : {{gets.address}}  </h1>
               
              </div>
  
                  </div>
                  
  
  </div>
   
  
  <div class="col-sm-12 dffs" *ngFor="let gets of aboutUsgets">
  
    <h3> Keep in touch </h3>
    <div class="col-sm-2 icns">
      <a href="{{gets.fb}}" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
    </div>
    
    <div class="col-sm-2 icns"> 
    <a href="{{gets.youtube}}" target="_blank">
      <i class="fa fa-youtube-play yt" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-2 icns"> 
    <a href="{{gets.inst}}/" target="_blank">
    <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
    </div>
    
    </div>
  <div class="col-sm-12 dffs">
    <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> T-BJC </b> </h6>
  </div>
   </div>