
  <!-- ******************* nav bar ************************** -->

  <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header col-sm-8">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.jpg"    style="width:33%">    </a>
    
      </div>
         
  <div class="col-sm-8 profilesv">
   
    
     <div class="col-sm-12 col-xs-8 pull-right">
      <a [routerLink]= "['/classifieds/classifieds']" class="h">  Home  </a>  
      <a [routerLink]= "['/classifieds/AboutUs']" class="h">  About Us  </a>  
      <a [routerLink]= "['/classifieds/ContactUS']" class="h">  Contact Us  </a>  
      <a [routerLink]= "['/classifieds/Feedbacks']" class="h">  Feedback  </a>  
      <a [routerLink]= "['/classifieds/Blogs']" class="h">  Blogs  </a>  
  
             <!-- <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a>  -->
     </div>
    
  </div>
  
    
    </div>
  </nav>


 <div class="col-sm-12 main">

  <h6 class="mains"> {{datesGetIds.mainTitle}} </h6>
  <!-- <b> <span class="dot pull-right"> . </span> Posted On {{datesGetIds.createdAt | date: 'dd/MM/yyyy'}} || {{datesGetIds.createdAt  | date: "shortTime"}} </b>     -->

</div> 

      <div class="col-sm-12">
          <img src="{{datesGetIds.images1}}" onerror="this.style.display='none'"  style="width:100%;height:300px">
          <div class="caption">
        
      </div>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3">
              <div class="col-sm-12 add">

                  <h1 class="adds"> Executive </h1>
                  
                  <img src="{{executivesPersons.images}}" class="img-circle" alt="about us" style="width:100%;height:200px">
                  <h3 class="addm"> {{executivesPersons.name}} </h3>
<p class=""> Mobile No : {{executivesPersons.mobileNo}} </p>
<p class=""> Email Id : {{executivesPersons.emailID}} </p>
                  <p class="addm"> {{executivesPersons.description}} </p>
                  <div class="col-sm-12">
                                  <table class="table">
                                  <thead>
                                    <tr>
                                      <th> </th>
                                      </tr>
                                  </thead>   
                           <tbody>
                              <tr class="success" *ngFor="let gets of executivesFields">
                                <td>    <span class="glyphicon glyphicon-hand-right">  {{gets.fields}}   </span> 
                                  </td> 
                              </tr>
                             
                            </tbody>
                      </table>
                      
                  </div>

                  <!-- <b> Posted On {{clients.createdAt | date: 'dd/MM/yyyy'}} || {{clients.createdAt  | date: "shortTime"}} </b>     -->

                </div>
              <div class="col-sm-12 add">
                  <h1 class="adds"> Address </h1>
                  <h4 class="addm"> H No : {{datesGetIds.Hno}} , {{datesGetIds.streetNo}}, {{datesGetIds.colony}}, {{datesGetIds.area}}, {{datesGetIds.city}}, {{datesGetIds.pincode}} </h4>
         
                </div>
                <div class="col-sm-12 add">
                    <h1 class="adds"> contact No </h1>
                    <h4 class="addm"> Name : <span class="con"> {{datesGetIds.name}} </span>  </h4>
                    <h4 class="addm"> Mobile No : <span class="con">  {{datesGetIds.mobileNo}} </span></h4>
                    <h4 class="addm"> WhatsApp No : <span class="con">  {{datesGetIds.whatsApp}} </span></h4>
                    <h4 class="addm"> Mail ID   : <span class="con">  {{datesGetIds.emailid}} </span></h4>
                   </div>
          </div>

          <div class="col-sm-9">
              <div class="col-sm-12">
                  <div class="col-sm-12">
                      <h4 class="names"> Name : {{datesGetIds.name}} </h4>

                  </div>
                  <div class="col-sm-12">
                      <h4 class="name">  {{datesGetIds.subTitle}} </h4>
                       <p class="namess"> <span class=""> {{datesGetIds.description}} </span>  </p>
 
                  </div>
                 </div>
                 <div class="col-sm-12" *ngFor="let clients of clientsCatImgs">
                  <div class="col-sm-5">
                    <img src="{{clients.images}}" onerror="this.style.display='none'"  style="width:100%;height:350px;border: 1px solid black;">
                
                  </div>
                  <div class="col-sm-7">
                    <h5 class="titleimg"> <b> {{clients.title}} </b> </h5>
                    <h5 class=""> <b> {{clients.field1}} </b> </h5>
                    <h5 class=""> <b> {{clients.field2}} </b> </h5>
                    <h5 class=""> <b> {{clients.field3}} </b> </h5>
                    <h5 class=""> <b> {{clients.field4}} </b> </h5>
                    <h5 class=""> <b> {{clients.field5}} </b> </h5>
                    <h5 class=""> <b> {{clients.field6}} </b> </h5>
                    <h5 class=""> <b> {{clients.field7}} </b> </h5>
                    <h5 class=""> <b> {{clients.field8}} </b> </h5>
                    <h5 class=""> <b> {{clients.field9}} </b> </h5>
                    <h5 class=""> <b> {{clients.field10}} </b> </h5>
                    <h5 class=""> <b> {{clients.field11}} </b> </h5>
                    <h5 class=""> <b> {{clients.field12}} </b> </h5>
                
                  </div>
                </div>
 </div> 
 


  </div>







 

 



 
<div class="col-sm-12 footerback">
  <div class="col-sm-12 catas">
      <div class="col-sm-4 bors">
  <h1 class="exe"> EXECUTIVE PERSONS </h1>
  <div class="col-sm-12">
    <img src="{{executivesPersons.images}}" alt="about us" style="width:100%;height:200px">
    <h3 class=""> Name: <span class="fws"> {{executivesPersons.name}} </span>  </h3>
    <p class=""> Mobile No : <span class="fws">  {{executivesPersons.mobileNo}} </span> </p>
    <p class=""> Email Id : <span class="fws">  {{executivesPersons.emailID}} </span></p>
    <p class="des"> {{executivesPersons.description}}    </p>
  </div>
      </div>
    
      <div class="col-sm-4 blogpo">
        <h1 class="exe"> BLOGS </h1>
        <div class="col-sm-12 blogspot" *ngFor="let gets of blogsgets">
          <a href="{{gets.links}}"> 
      <h1 class="bti"> {{gets.mainTitle}} </h1>
         
            <img src="{{gets.image}}" alt="about us" style="width:100%;height:150px">
            <p class="btip">  {{gets.subtitle}}</p>
            <p class="btipp"> {{gets.description}} </p>
          </a>
         </div>
            </div>
            <div class="col-sm-4" *ngFor="let gets of aboutUsgets">
              <h1 class="exe" [routerLink]= "['/classifieds/Feedbacks']"> FEEDBACK </h1>
              <h1 class="exe"> CONTACT US </h1>
              <div class="col-sm-12">
        
                <h1 class="fnames"> {{gets.name}} </h1>
          
                <h1 class="fnames"> <i class="fa fa-mobile mob" aria-hidden="true"></i>
                   Mobile No : {{gets.mobileNo}}  </h1>
                <h1 class="fnames">
                  <i class="fa fa-whatsapp apps" aria-hidden="true"></i>
          
                  whatsApp : {{gets.whatsapp}}  </h1>
               <h1 class="fnames"> <i class="fa fa-envelope mails" aria-hidden="true"></i>
                
                  Email Id : {{gets.emailid}} </h1>
                <h1 class="fnames"> 
                  <i class="fa fa-home adde" aria-hidden="true"></i>
          
                  Address : {{gets.address}}  </h1>
               
              </div>
  
                  </div>
                  
  
  </div>
   
  
  <div class="col-sm-12 dffs" *ngFor="let gets of aboutUsgets">
  
    <h3> Keep in touch </h3>
    <div class="col-sm-2 icns">
      <a href="{{gets.fb}}" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
    </div>
    
    <div class="col-sm-2 icns"> 
    <a href="{{gets.youtube}}" target="_blank">
      <i class="fa fa-youtube-play yt" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-2 icns"> 
    <a href="{{gets.inst}}/" target="_blank">
    <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
    </div>
    
    </div>
  <div class="col-sm-12 dffs">
    <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> T-BJC </b> </h6>
  </div>
   </div>