.mains{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 10px;

}
.main{background-color: #0000ff59; margin-bottom: 50px;}
.add{background-color: bisque;margin-bottom:10px;}
.adds{    background-color: brown;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    margin-top: 56px;}
    .addm{
        text-align: justify;
        line-height: 40px;
        text-transform: capitalize;
    }
    .con{font-weight: bolder;font-size:15px;}
.names{text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
     border-bottom: 3px solid red;
    padding-bottom: 27px;
    padding-top: 35px;
    font-style: oblique;
    font-family: serif;
    font-weight: 900;}
    .namess{text-align: justify;
        text-transform: lowercase;
        letter-spacing: 2px;
        padding-bottom: 27px;
        padding-top: 35px;
        font-style: revert;
        font-family: serif;
        font-weight: 900;}
        .name{text-align: center;
            text-transform: inherit;
            letter-spacing: 2px;
            /* padding-bottom: 27px; */
            /* padding-top: 35px; */
            font-style: oblique;
            font-family: serif;}
            .dot{color:green}
            .mainImg{position: relative;}
            .mainImg:hover{position: relative;               
            }

            .maintitle{
                position: absolute;
                top: 39%;
                left: 35%;
                color: snow;
                font-size: 20px;
                text-transform: capitalize;
            }
            .maintitle:hover{
                position: absolute; color: red;
                top: 39%;
                left: 35%;
                font-size: 20px;
                text-transform: capitalize;
            }
            .gallery{padding:50px 0px;}
            .gallery .section-title{
                position: relative;
                margin: 50px 0px;
                width:100%;
            }
            .gallery .section-title .p{
               background-color: #1957f3;
               color: #fff;
                margin-bottom: 5px;text-align: center;text-transform: uppercase;padding:0px 12px;letter-spacing:1px;
            }
            .custom_pd{padding: 15px;}
            .hovereffect{
                position: relative;
                width:100%;
                height:100%;
                float:left;
                overflow: hidden;
                text-align: center;
                cursor:pointer;
            }
            .hovereffect .overlay{
                width: 100%;height:100%;position:absolute;
                overflow-x:hidden;
                top:0;left:0;background-color: rgba(0,0,0,0.5);
                opacity:1;filter:alpha(opacity=0);
                /* transform: translate(460px, -100px) ; */
                transition:0.4s ease-in-out; 
            }
            .hovereffect img{
                display: block;position: relative; transition:0.2s ease-in-out;

            }
            .hovereffect h2{
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                position: relative; 
                font-size: 17px; padding: 10px;
                margin-top:20px;
                background-color: rgba(0,0,0,0.5);
            }
            .hovereffect a.info{
                display: inline-block;text-decoration: none;
                padding: 7px 14px;text-transform: uppercase;
                 color: #fff;border:1px soild #fff;
                background-color: transparent;
                 transform: translateY(-200px);
                 transition: 0.2s ease-in-out;
            }

            .hovereffect a.info:hover{
                box-shadow: 0 0 5px #fff;

            }
            .hovereffect:hover .overlay{
                 opacity: 1;
                 filter:alpha(opacity=100);
                 transition-delay: 0s;
                 transform: translate( 0px , 0px);
            }
            .hovereffect:hover h2{
                transform: translateY(0px);
                transition-delay: 0.5s;
            }
            .hovereffect:hover a.info{
                transform: translateY(0px);
                transition-delay: 0.3s;
            }

        .picoff{margin-bottom: 12px; transition: 1s;}
        .picoff:hover{transform:scale(1.2);z-index:2;}
        .h{    margin-right: 20px;font-weight: bolder;}
        .profilesv{
          position: absolute;
          right: 0;
          top: 45px;
          text-align: center;
          margin-left: 42px;
          padding-bottom: 27px;
          z-index: 99999;
        }
        .yt{font-size: 43px;
            color: red;}
            .exe{  font-family: initial;
                font-size:18px;
                text-decoration: underline;
                text-align: center;}
                .bors{    border-right: 1px solid white;}
                .bh{margin-left: 42%;
                  margin-top: 30px;
                  width: 20%;}
                  .bti{font-size: 30px;
                    font-weight: bolder;text-transform: capitalize;text-align: center;}
                    .btip{font-weight: bolder;text-align: justify;text-transform: capitalize;font-weight: bolder; color: white;}
                     .blogpo{    cursor: pointer;
                      margin-bottom: 30px;
                      /* -webkit-transition: 1s; */
                      /* transition: 1s; */
                      height:405px;
                      overflow: scroll;}
                     /* .blogpo:hover{transform:scale(1.2);z-index:2;} */
                     .yt{font-size: 43px;
                      color: red;}
                      .fws{font-weight: bolder;color: #ffe9e9;}
                      .example-form {
                        min-width: 150px;
                        max-width: 500px;
                        width: 100%;
                      }
                      .paras{    color: brown;
                        text-transform: capitalize;
                        text-align: justify;}
                        .subs{font-weight: bolder;}
                        .para{    color: rgb(121, 93, 93);
                          text-transform: capitalize;
                          text-align: justify;}
                          .mob{    color: saddlebrown;
                            font-size:25px;
                        }
                       
                        .dffs{text-align: center;
                            padding-top: 4px;}
                            .icns{
                              margin-left: 12%;
padding-top: 12px;
padding-bottom: 12px;
                            }
                            .apps{color: #468b13;
                              font-size: 25px;}
                              .adde{color: #10544b;
                                font-size: 25px;}
                                .mails{    color: #828685;
                                  font-size: 25px;}
                              .yt{font-size: 43px;
                                color: red;}
                                .fnames{font-size: 15px;text-align: center;}
                                .blogspot{border-bottom: 1px solid white;}
                                .titleimg{text-align: center;text-transform: uppercase;text-decoration: underline;letter-spacing: 2px;}