<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>

<!-- // *********************Sub - Catageries **************** -->
<div class="col-sm-12">

  <div class="col-sm-7">
      <h1> Creating SUB - CATAGERIES ( Main catageries - {{catageriesd}} ) </h1>
     
        <mat-form-field class="example-full-width">
          <input matInput placeholder=" Creating Sub - catageries" [(ngModel)]="subCat.SubCatageries" name="area">
        </mat-form-field>
        <button (click)="subCatageriesPost()"> sublit </button>
  
    </div>
  
<div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{subCatageries}}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let gets of subCatageriesData" (click)="subCatageriesClicks(gets)">{{gets.SubCatageries}}</li>
            </ul> 
    </div>
    
</div>

  <!-- // ********************* Dates **************** -->
  <div class="col-sm-12">

    <div class="col-sm-7">
        <h1> Creating Dates  </h1>
       
          <mat-form-field class="example-full-width">
            <input matInput placeholder=" Creating Dates" [(ngModel)]="dat.dates" name="area">
          </mat-form-field>
          
          <button (click)="datesPost()"> sublit </button>
    
      </div>
    
      

      
  </div>

  <div class="col-sm-12">
   
    <div class="col-sm-2" *ngFor="let one of datesGetData">

     <a [routerLink]="['/adminsClassifieds/adminsGenerals',one._id,one.dates]">
          <h3 class=""> {{one.dates}} </h3>
     </a>
   
</div>
</div>

