.mains{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 10px;

}
.main{background-color: #0000ff59; margin-bottom: 50px;}
.add{background-color: bisque;margin-bottom:10px;}
.imgs{margin-top: 20px;}
.titleimg{text-align: center;
    font-size: 20px;
    text-transform: capitalize;}
    .picoff{margin-bottom: 12px; transition: 1s;}
    .picoff:hover{transform:scale(1.2);z-index:2;}
    .h{    margin-right: 20px;font-weight: bolder;}
    .profilesv{
      position: absolute;
      right: 0;
      top: 45px;
      text-align: center;
      margin-left: 42px;
      padding-bottom: 27px;
      z-index: 99999;
    }
    .yt{font-size: 43px;
      color: red;}
      .exe{  font-family: initial;
        font-size: 27px;
        text-decoration: underline;
        text-align: center;}
        .bors{    border-right: 1px solid white;}
        .bh{margin-left: 42%;
          margin-top: 30px;
          width: 20%;}
          .bti{font-size: 30px;
            font-weight: bolder;text-transform: capitalize;text-align: center;}
            .btip{font-weight: bolder;text-align: justify;text-transform: capitalize;font-weight: bolder; color: white;}
             .blogpo{    cursor: pointer;
              margin-bottom: 30px;
              /* -webkit-transition: 1s; */
              /* transition: 1s; */
              height:405px;
              overflow: scroll;}
             /* .blogpo:hover{transform:scale(1.2);z-index:2;} */
             .yt{font-size: 43px;
              color: red;}
              .fws{font-weight: bolder;color: #ffe9e9;}
              .example-form {
                min-width: 150px;
                max-width: 500px;
                width: 100%;
              }


              .paras{    color: brown;
                text-transform: capitalize;
                text-align: justify;}
                .subs{font-weight: bolder;}
                .para{    color: rgb(121, 93, 93);
                  text-transform: capitalize;
                  text-align: justify;}
                  .mob{    color: saddlebrown;
                    font-size:25px;
                }
               
                .dffs{text-align: center;
                  padding-top: 4px;}
                  .icns{
                    margin-left: 12%;
padding-top: 12px;
padding-bottom: 12px;
                  }
                  .apps{color: #468b13;
                    font-size: 25px;}
                    .adds{color: #10544b;
                      font-size: 25px;}
                      .mails{    color: #828685;
                        font-size: 25px;}
                      .yt{font-size: 43px;
                        color: red;}
                        .names{font-size: 15px;text-align: center;}