<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1> Create New Password</h1>
      <div class="col-sm-5">
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="password" [(ngModel)]="resetpassors.password" name="password">
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width">
                  <input type="password" matInput placeholder="confrom password" [(ngModel)]="resetpassors.cpassword" name="cpassword">
                </mat-form-field> -->
              <button (click)="rgetpassword()" class="btn-primary"> Change </button>
              </form>
      </div>
    </div>
  </div>
</div>