<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>
 


<div class="col-sm-6">

<h4 class=""> ABOUT US </h4>

<mat-form-field class="example-full-width">
  <input matInput placeholder=" Name " [(ngModel)]="about.name" name="name">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder=" mobileNo " [(ngModel)]="about.mobileNo" name="name">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder=" whatsapp " [(ngModel)]="about.whatsapp" name="name">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder=" emailID " [(ngModel)]="about.emailid" name="name">
</mat-form-field>
      
          <mat-form-field class="example-full-width">
                <input matInput placeholder="please address" [(ngModel)]="about.address" name="descriptions">
              </mat-form-field>
          
 
              <mat-form-field class="example-full-width">
                <input matInput placeholder="please fb link" [(ngModel)]="about.fb" name="descriptions">
              </mat-form-field>
          

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please inst link" [(ngModel)]="about.inst" name="descriptions">
              </mat-form-field>
          


              <mat-form-field class="example-full-width">
                <input matInput placeholder="please youtube links" [(ngModel)]="about.youtube" name="descriptions">
              </mat-form-field>
          


              <mat-form-field class="example-full-width">
                <input matInput placeholder="please mainTitle" [(ngModel)]="about.mainTitle" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please subtitle" [(ngModel)]="about.subtitle" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please description" [(ngModel)]="about.description" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please mainTitle1" [(ngModel)]="about.mainTitle1" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please subtitle1" [(ngModel)]="about.subtitle1" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please description1" [(ngModel)]="about.description1" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please mainTitle2" [(ngModel)]="about.mainTitle2" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please description2" [(ngModel)]="about.description2" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please subtitle2" [(ngModel)]="about.subtitle2" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please mainTitle3" [(ngModel)]="about.mainTitle3" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please subtitle3" [(ngModel)]="about.subtitle3" name="descriptions">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="please description3" [(ngModel)]="about.description3" name="descriptions">
              </mat-form-field> 
          
           <p>    About Us Images </p> 
           <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFile($event,'image')"  name="images1">


<hr/>
<button class="btn-primary upbuttons" (click)="postAbout()"> submit </button>
</div>

<div class="col-sm-6" *ngFor="let gets of aboutUsgets">
  
  <img src="{{gets.image}}" alt="about us" style="width:100%;height:200px">

<h1> {{gets.name}} </h1>
<h4> {{gets.mobileNo}} </h4>
<h4> {{gets.whatsapp}} </h4>
<h4> {{gets.emailid}} </h4>
<h4> {{gets.address}} </h4>
<h4> {{gets.fb}} </h4>
<h4> {{gets.inst}} </h4>
<h4> {{gets.youtube}} </h4>
<h4> {{gets.mainTitle}} </h4>
<h4> {{gets.mainTitle1}} </h4>
<h4> {{gets.mainTitle2}} </h4>
<h4> {{gets.mainTitle3}} </h4>
<h4> {{gets.subtitle}} </h4>
<h4> {{gets.subtitle1}} </h4>
<h4> {{gets.subtitle2}} </h4>
<h4> {{gets.subtitle3}} </h4>
<h4> {{gets.description}} </h4>
<h4> {{gets.description1}} </h4>
<h4> {{gets.description2}} </h4>
<h4> {{gets.description3}} </h4>
<button class="btn-primary upbuttons" (click)="deleteAboutUs(gets)"> Delete </button>

</div>

<div class="col-sm-12">
  <div class="col-sm-12">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="please mainTitle" [(ngModel)]="blogs.mainTitle" name="descriptions">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="please subtitle" [(ngModel)]="blogs.subtitle" name="descriptions">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="please description" [(ngModel)]="blogs.description" name="descriptions">
    </mat-form-field> 

    <mat-form-field class="example-full-width">
      <input matInput placeholder="please links" [(ngModel)]="blogs.links" name="descriptions">
    </mat-form-field> 


 <p>   Blogs Images </p> 
 <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileBlogs($event,'image')"  name="images1">


<hr/>
<button class="btn-primary upbuttons" (click)="postBlog()"> submit </button>
  </div>
 
</div>
<div class="col-sm-12">
  <h1 class=""> BLOGS LISTS </h1>
     <div class="col-sm-3" *ngFor="let gets of blogsgets">
      <h4> {{gets.mainTitle}} </h4>

      <img src="{{gets.image}}" alt="about us" style="width:100%;height:200px">
    
     
     
      <h4> {{gets.subtitle}} </h4>
     
      <h4> {{gets.description}} </h4>
      <h4> {{gets.links}} </h4>

      <button class="btn-primary upbuttons" (click)="deleteBlog(gets)"> Delete </button>
   </div>

 
</div>  
<div class="col-sm-12">
  <h1 class=""> Feed Back </h1>
     
     
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Description</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gets of feedsGet">
            <td> {{gets.name}}</td>
            <td>{{gets.mobileNo}}</td>
            <td>{{gets.emailid}}</td>
            <td>{{gets.subject}}</td>
            <td>{{gets.description}}</td>

          </tr>
         
        </tbody>
      </table>
 
 
</div>  