
<div class="col-sm-12">
  <a href="" [routerLink]="['/adminsClassifieds/adminsAbouts']">    About Us Blogs Contacts Us , FEEDBACKS</a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsImpnotes']">    Important Notes </a>
  <a href="" [routerLink]="['/adminsClassifieds/adminsDeleteAcc']">   Executive Accounts Details </a>

</div>


<div class="col-sm-12">
  <h1 class=""> IMPROTANT NOTES </h1>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="please name" [(ngModel)]="impnotes.name" name="descriptions">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="please mobileNo" [(ngModel)]="impnotes.mobileNo" name="descriptions">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="please whatsapp" [(ngModel)]="impnotes.whatsapp" name="descriptions">
  </mat-form-field> 


  <mat-form-field class="example-full-width">
    <input matInput placeholder="please mainTitle" [(ngModel)]="impnotes.mainTitle" name="descriptions">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="please subtitle" [(ngModel)]="impnotes.subtitle" name="descriptions">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="please description" [(ngModel)]="impnotes.description" name="descriptions">
  </mat-form-field> 
 

<p>   impnotes Images </p> 
<input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileBlogs($event,'image')"  name="images1">


<hr/>
<button class="btn-primary upbuttons" (click)="postImp()"> submit </button>
</div>
<div class="col-sm-12" *ngFor="let gets of impsgets">
  <div class="col-sm-5">
    <img src="{{gets.image}}" alt="about us" style="width:100%;height:200px">

  </div>
  <div class="col-sm-7">
    <h1 class="one"> {{gets.mainTitle}} </h1>
    <h4 class="two">  NAME : {{gets.name}} </h4>

     <h5> MOBILE : {{gets.mobileNo}} </h5>
    <h5>  WHATSAPP NO : {{gets.whatsapp}} </h5>

 
 
    <h4 class="two"> {{gets.subtitle}} </h4>
   
    <h4 class="two"> {{gets.description}} </h4>
    <h4 class="d">   Posted On : {{gets.createdAt | date: 'dd/MM/yyyy'}} {{gets.createdAt  | date: "shortTime"}}  </h4>

    <button class="btn-primary upbuttons" (click)="deleteImp(gets)"> Delete </button>
  </div>
</div>
