
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1> Forget Your Password</h1>
      <h6 class="" (click)="fgetpassword()"> {{message}}</h6>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" [(ngModel)]="forgetpasswords.email" name="email">
        </mat-form-field>
        <button (click)="fgetpassword()" class="btn-primary"> Submit </button>
        </form>
    </div>
  </div>
</div>

