
 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header col-sm-8">
      <a class="navbar-brand yesT">  <img src="assets/images/logo.jpg"    style="width:33%">    </a>
  
    </div>
       
<div class="col-sm-8 profilesv">
 
  
   <div class="col-sm-12 col-xs-8 pull-right">
    <a [routerLink]= "['/classifieds/classifieds']" class="h">  Home  </a>  
    <a [routerLink]= "['/classifieds/AboutUs']" class="h">  About Us  </a>  
    <a [routerLink]= "['/classifieds/ContactUS']" class="h">  Contact Us  </a>  
    <a [routerLink]= "['/classifieds/Feedbacks']" class="h">  Feedback  </a>  
    <a [routerLink]= "['/classifieds/Blogs']" class="h">  Blogs  </a> 
    <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 

           <!-- <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a>  -->
   </div>
  
</div>

  
  </div>
</nav>

<div class="col-sm-12">
    <img src="assets/images/plant.jpg" alt="about us" style="width:100%;height:500px">
  </div>
 
<div class="col-sm-12 boxshaves">
   <div class="col-sm-3">
    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{locationName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="locationsdrops" *ngFor="let get of locationsgets" (click)="locations(get)">{{get.locations}}</li>
    </ul> 
  </div>

</div>

<hr/>


<div class="container-fluid">
<div class="row">
<div class="col-sm-3 s">
    <hr/>
<div class="col-sm-12">
  <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectArea}}  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li class="locationsdrops" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
      </ul> 
</div>
    
<hr/>


<div class="col-sm-12" *ngFor="let clients of executivesPersons">
  <h5 class="bg-primary cat"> OUR EXECUTIVES </h5>

    <img src="{{clients.images}}" alt="about us" style="width:100%;height:200px">
<h3 class=""> Name: <span class="fw"> {{clients.name}} </span>  </h3>
<p class=""> Mobile No : <span class="fw">  {{clients.mobileNo}} </span> </p>
<p class=""> Email Id : <span class="fw">  {{clients.emailID}} </span></p>

<p class="des"> {{clients.description}}    </p>

<div class="col-sm-12" *ngFor="let gets of executivesFields">
  
  <ul class="">
    <li class="fw des"> {{gets.fields}} </li>
  </ul>
</div>

</div>

<hr/>

    <div class="col-sm-12">
        <hr/>
  <h5 class="bg-primary cat"> Catagerious </h5>
  <div class="col-sm-12" *ngFor="let gets of catageriesLocalsData">
    <ul class="">
      <li class="fw center  des"> 
        <a [routerLink]="['/classifieds/catageries',gets._id,gets.catageries]">    
          <img src="{{gets.images}}" class="img-circle" alt="about us" style="width:20%;height:30px">
           {{gets.catageries}}
         </a>  </li>
     </ul>
  </div>
   
</div>
            
   
  <hr/>
  <div class="col-sm-12">

  <h5 class="bg-primary cat"> Popular Locations  </h5>
  </div>
  <hr/>

    <ul class="text-left">
        <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span>   {{locationName}}  </a></li>
        <li *ngFor="let get of locationsgets" class="locs">  {{get.locations}} </li>

    </ul>

      <hr/>
        
          <div class="col-sm-12">
        <h5 class="bg-primary cat insidecap"> Area Related To You </h5>
      </div>     
         <hr/>
         <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span> {{selectArea}} </a></li>

        <li *ngFor="let get of areasAll" class="locs">  {{get.area}} </li>
    <hr/>
        <div class="col-sm-12">
        <h5 class="bg-primary cat insidecap"> Popular Sub - Areas Related To You </h5>
        <ul class="text-left">
          <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span>   {{localAreaResults}}  </a></li>
          <li *ngFor="let get of localAreaData" class="locs">  {{get.localArea}} </li>
  
      </ul>
      </div>
    <hr/>
    
    
    
</div>

<!-- **************************next middle box************************** -->
<div class="col-sm-9 boxshaves">
  <div class="col-sm-12 tops">

<div class="col-sm-4">
  <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{localAreaResults}}  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li class="locationsdrops" *ngFor="let gets of localAreaData" (click)="selectedLocalAreas(gets)">{{gets.localArea}}</li>
      </ul> 
</div>
<div class="col-sm-8">
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="search by catageries" (ngModelChange)="searchFilter()" [(ngModel)]="searchString" name="plants">
    </mat-form-field>
    
 </div>
    </div>
</div>

<div class="col-sm-4 cates" *ngFor="let gets of catageriesLocalsData">
  <a [routerLink]="['/classifieds/catageries',gets._id,gets.catageries]">    
  <img src="{{gets.images}}" alt="about us" style="width:100%;height:200px">
   {{gets.catageries}}
 </a>  

</div>
</div>
</div>

 
<div class="col-sm-12 footerback">
  
  <div class="col-sm-12 catas">
      <div class="col-sm-4 bors" *ngFor="let clients of executivesPersons">
  <h1 class="exe"> EXECUTIVE PERSONS </h1>
  <div class="col-sm-12">
    <img src="{{clients.images}}" alt="about us" style="width:100%;height:200px">
    <h3 class=""> Name: <span class="fws"> {{clients.name}} </span>  </h3>
    <p class=""> Mobile No : <span class="fws">  {{clients.mobileNo}} </span> </p>
    <p class=""> Email Id : <span class="fws">  {{clients.emailID}} </span></p>
    <p class="des"> {{clients.description}}    </p>
  </div>
      </div>
    
      <div class="col-sm-4 blogpo">
        <h1 class="exe"> BLOGS </h1>
        <div class="col-sm-12 " *ngFor="let gets of blogsgets">
          <a href="{{gets.links}}"> 
      <h1 class="bti"> {{gets.mainTitle}} </h1>
         
            <img src="{{gets.image}}" alt="about us" style="width:100%;height:150px">
            <p class="btip">  {{gets.subtitle}}</p>
            <p class="btipp"> {{gets.description}} </p>
          </a>
         </div>
            </div>
            <div class="col-sm-4" *ngFor="let gets of aboutUsgets">
              <h1 class="exe" [routerLink]= "['/classifieds/Feedbacks']"> FEEDBACK </h1>
              <h1 class="exe"> CONTACT US </h1>
              <div class="col-sm-12">
        
                <h1 class="names"> {{gets.name}} </h1>
          
                <h1 class="names"> <i class="fa fa-mobile mob" aria-hidden="true"></i>
                   Mobile No : {{gets.mobileNo}}  </h1>
                <h1 class="names">
                  <i class="fa fa-whatsapp apps" aria-hidden="true"></i>
          
                  whatsApp : {{gets.whatsapp}}  </h1>
               <h1 class="names"> <i class="fa fa-envelope mails" aria-hidden="true"></i>
                
                  Email Id : {{gets.emailid}} </h1>
                <h1 class="names"> 
                  <i class="fa fa-home adds" aria-hidden="true"></i>
          
                  Address : {{gets.address}}  </h1>
               
              </div>
  
                  </div>
                  
  
  </div>
   
  <div class="col-sm-12 dffs" *ngFor="let gets of aboutUsgets">
  
    <h3> Keep in touch </h3>
    <div class="col-sm-2 icns">
      <a href="{{gets.fb}}" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
    </div>
    
    <div class="col-sm-2 icns"> 
    <a href="{{gets.youtube}}" target="_blank">
      <i class="fa fa-youtube-play yt" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-2 icns"> 
    <a href="{{gets.inst}}/" target="_blank">
    <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
    </div>
    
    </div>
  <div class="col-sm-12 dffs">
    <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> T-BJC </b> </h6>
  </div>
   </div>