 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header col-sm-8">
      <a class="navbar-brand yesT">  <img src="assets/images/logo.jpg"    style="width:33%">    </a>
  
    </div>
       
<div class="col-sm-8 profilesv">
 
  
   <div class="col-sm-12 col-xs-8 pull-right">
    <a [routerLink]= "['/classifieds/classifieds']" class="h">  Home  </a>  
    <a [routerLink]= "['/classifieds/AboutUs']" class="h">  About Us  </a>  
    <a [routerLink]= "['/classifieds/ContactUS']" class="h">  Contact Us  </a>  
    <a [routerLink]= "['/classifieds/Feedbacks']" class="h">  Feedback  </a>  
    <a [routerLink]= "['/classifieds/Blogs']" class="h">  Blogs  </a>  

           <!-- <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a>  -->
   </div>
  
</div>

  
  </div>
</nav>

<div class="col-sm-12">
  <img src="{{catageriesLocalsData.images}}"  style="width:100%;height:500px">
</div>
 
 

<hr/>


<div class="container-fluid">
<div class="row">
<div class="col-sm-3 s">
    <hr/>
<!--  
<div class="col-sm-12">
  <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{localAreaResults}}  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li class="locationsdrops" *ngFor="let gets of localAreaData" (click)="selectedLocalAreas(gets)">{{gets.localArea}}</li>
      </ul> 
      <hr/>

</div> -->
<div class="col-sm-12">
  <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{subCatagerie}}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="locationsdrops" *ngFor="let gets of subCatageriesData" (click)="subCatageriesClicks(gets)">{{gets.SubCatageries}}</li>
        </ul> 
</div>

<div class="col-sm-12">
  <h5 class="bg-primary cat"> OUR EXECUTIVES </h5>
     <img src="{{executivesPersonsId.images}}" alt="about us" style="width:100%;height:200px">
<h3 class=""> Name: <span class="fw"> {{executivesPersonsId.name}} </span>  </h3>
<p class=""> Mobile No : <span class="fw">  {{executivesPersonsId.mobileNo}} </span> </p>
<p class=""> Email Id : <span class="fw">  {{executivesPersonsId.emailID}} </span></p>

<p class="des"> {{executivesPersonsId.description}}    </p>

 
 
</div>

<hr/>

    <div class="col-sm-12">
        <hr/>
  <h5 class="bg-primary cat"> Catagerious </h5>
   <div class="col-sm-12">
    <ul class="">
       <li class="fw center  des decs"> 
        You Are In :   <a class="sideCat">  
          <img src="{{catageriesLocalsData.images}}" class="img-circle" alt="about us" style="width:20%;height:30px">
           {{catageriesLocalsData.catageries}}
         </a>  </li>
         
         <li class="fw center  des"  *ngFor="let gets of catageriesLocalsDataAll"> 
          <a [routerLink]="['/classifieds/catageries',gets._id,gets.catageries]"> 
            <img src="{{gets.images}}" class="img-circle" alt="about us" style="width:20%;height:30px">
             {{gets.catageries}}
           </a>  </li>
           <hr/>

           <li class="fw center  des decs"> 
            You Are In :   <a class="sideCat">  
               {{subCatagerie}} 
             </a>  </li>
             <li class="fw center  des"  *ngFor="let gets of subCatageriesData"> 
                  {{gets.SubCatageries}}
                </li>
                <hr/>

                          <li class="fw center  des decs"> 
                          You Are In :   <a class="sideCat">  
                             {{datesData}} 
                           </a>  </li> 
                        <li class="fw center  des"  *ngFor="let one of datesGetData">
                          {{one.dates}} 
                        </li>
                        <hr/>

                 <hr/>

     </ul>
  </div>
   
</div>
          

   
  <div class="col-sm-12">

  <h5 class="bg-primary cat"> Popular Locations  </h5>
  </div>
 
    <ul class="text-left">
        <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span>   {{locationsgetsId.locations}}  </a></li>
        <li *ngFor="let get of locationsgets" class="locs">  {{get.locations}} </li>

    </ul>

      <hr/>
        
          <div class="col-sm-12">
        <h5 class="bg-primary cat insidecap"> Area Related To You </h5>
      </div>     
         <hr/>
         <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span> {{areasAllId.area}} </a></li>

        <li *ngFor="let get of areasAll" class="locs">  {{get.area}} </li>
    <hr/>
        <div class="col-sm-12">
        <h5 class="bg-primary cat insidecap"> Popular Sub - Areas Related To You </h5>
        <ul class="text-left">
          <li class="decs"><a class="anchoas"> <span class="yai"> You Are In : </span> {{localAreaDataid.localArea}} / {{localAreaResults}}  </a></li>
          <li *ngFor="let get of localAreaData" class="locs">  {{get.localArea}} </li>
      </ul>
      </div>
    <hr/>
    
    
    
</div>

<!-- **************************next middle box************************** -->
<div class="col-sm-9 boxshaves">
  
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{datesData}}  <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
           <li class="locationsdrops" *ngFor="let gets of datesGetData" (click)="datesClicks(gets)">{{gets.dates}}</li>
           </ul> 
     
    </div>
   
<div class="col-sm-6">
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="search by name / area / pincode" (ngModelChange)="searchFilter()" [(ngModel)]="searchString" name="plants">
    </mat-form-field>
    
 </div>
   <div class="col-sm-12">
     
<div class="col-sm-6  adforms">
  <form class="example-form">
   
 <!-- ****************************catageries******************************** -->
 

<mat-form-field class="example-full-width">
  <input matInput placeholder=" Name " [(ngModel)]="clients.name" name="name">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="mobileNo" type="number" [(ngModel)]="clients.mobileNo" name="mobileNo">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="whatsApp" type="number" [(ngModel)]="clients.whatsApp" name="mobileNo">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="emailid" type="email" [(ngModel)]="clients.emailid" name="emailid">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Hno" [(ngModel)]="clients.Hno" name="Hno">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="streetNo" [(ngModel)]="clients.streetNo" name="streetNo">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="colony" [(ngModel)]="clients.colony" name="colony">
</mat-form-field>

 
 
  </form>
  </div>

  <div class="col-sm-6  adforms">
    <form class="example-form">
     
   <!-- ****************************catageries******************************** -->
  
   <mat-form-field class="example-full-width">
    <input matInput placeholder="area" [(ngModel)]="clients.area" name="area">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="city" [(ngModel)]="clients.city" name="city">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="pincode" [(ngModel)]="clients.pincode" name="pincode">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="mainTitle" [(ngModel)]="clients.mainTitle" name="mainTitle">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="subTitle" [(ngModel)]="clients.subTitle" name="subTitle">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder=" description " [(ngModel)]="clients.description" name="name">
  </mat-form-field>
 
  
  <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images1')"  name="images1"> 
 
 
    </form>
    </div>
    <button type="submit" class="btn btn-success" (click)="postDetailsLocals()">Submit</button>

  </div>

        <div class="col-sm-12 clientDiv" *ngFor="let clients of clientsGetData">
          <div class="col-sm-12 clientDivs" [routerLink]="['/exeClassifieds/exeDetails',clients._id,clients.name]">
            <h4 class=" mainText u"> Main Title :  {{clients.mainTitle}} </h4>

<div class="col-sm-6">
  <img src="{{clients.images1}}" class="" alt="about us" style="width:100%;height:200px">


</div>
<div class="col-sm-6  col-xs-12 imgs">
<div class="col-sm-12">
  <h4 class="u"> Name :  {{clients.name}} </h4>
  <h4 class="u"> Mobile No :  {{clients.mobileNo}} </h4>
  <h4 class="u"> WhatsApp No :  {{clients.whatsApp}} </h4>
  <h4 class="u"> Address : {{clients.Hno}},{{clients.streetNo}},{{clients.colony}},{{clients.area}},{{clients.city}}  </h4>
  <h4 class="u"> PinCode :  {{clients.pincode}} </h4>

  <b> <span class="dot pull-right">Posted On : {{clients.createdAt | date: 'dd/MM/yyyy'}} || {{clients.createdAt  | date: "shortTime"}} </span>  </b>    


</div>

</div>

</div> 
<div class="col-sm-12 statusDiv">
  <button type="button" class="btn bnt btn-success" (click)="mainMenuShowGet(clients._id)"> Check Status </button> 
  <button type="button" class="btn btn-danger" (click)="clientsDelete(clients)">Delete </button>

  <div class="col-sm-12 successStatus" *ngIf="showmains && selectedId == clients._id"> 

<div class="col-sm-12 ">
      
    <div class="">
      <p class=""> Status One </p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Status One" [(ngModel)]="statusOne.statusOne" name="description5">
      </mat-form-field>
      <button class="btn btn-danger" (click)="clientsStatusOne(clients._id)"> Status One SUBMIT</button>
    
    </div> 
    <div class="">
      <p class=""> Status Two </p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Status Two" [(ngModel)]="statusTwo.statusTwo" name="description5">
      </mat-form-field>
      <button class="btn btn-danger" (click)="clientsStatusTwo(clients._id)"> Status Two SUBMIT </button>
    
    </div> 
    <div class="col-sm-12" *ngFor="let status of statusOneGetDetails">

      <div class="col-sm-12 failStatus" *ngIf="showmains && selectedId == clients._id"> 
 
        <h4 class=""  class="u circles"> <i class="fa fa-circle circles" aria-hidden="true"></i> {{status.statusOne}}</h4>
        <button type="button" class="btn btn-danger" (click)="statusOneDeletes(status)"> Delete Status One </button> 

   </div>
 
 </div>

  </div>

<div class="col-sm-12" *ngFor="let status of statusTwoGetDetails">

     <div class="col-sm-12 failStatus" *ngIf="showmains && selectedId == clients._id"> 

    <h4 class=""  class="u cir"> <i class="fa fa-circle cir" aria-hidden="true"></i> {{status.statusTwo}}</h4>
    <button type="button" class="btn btn-danger" (click)="statusTwoDeletes(status)"> Delete Status Two</button> 

  </div>

</div>
</div>
</div>
</div>
 </div>


<div class="col-sm-12 footerback">
  
<div class="col-sm-12 catas">
    <div class="col-sm-4 bors">
<h1 class="exe"> EXECUTIVE PERSONS </h1>
<div class="col-sm-12">
  <img src="{{executivesPersonsId.images}}" alt="about us" style="width:100%;height:200px">
  <h3 class=""> Name: <span class="fws"> {{executivesPersonsId.name}} </span>  </h3>
  <p class=""> Mobile No : <span class="fws">  {{executivesPersonsId.mobileNo}} </span> </p>
  <p class=""> Email Id : <span class="fws">  {{executivesPersonsId.emailID}} </span></p>
  
  <p class="des"> {{executivesPersonsId.description}}    </p>
</div>
    </div>
  
    <div class="col-sm-4 blogpo">
      <h1 class="exe"> BLOGS </h1>
      <div class="col-sm-12 " *ngFor="let gets of blogsgets">
        <a href="{{gets.links}}"> 
    <h1 class="bti"> {{gets.mainTitle}} </h1>
       
          <img src="{{gets.image}}" alt="about us" style="width:100%;height:150px">
          <p class="btip">  {{gets.subtitle}}</p>
          <p class="btipp"> {{gets.description}} </p>
        </a>
       </div>
          </div>
          <div class="col-sm-4" *ngFor="let gets of aboutUsgets">
            <h1 class="exe" [routerLink]= "['/classifieds/Feedbacks']"> FEEDBACK </h1>
            <h1 class="exe"> CONTACT US </h1>
            <div class="col-sm-12">
      
              <h1 class="names"> {{gets.name}} </h1>
        
              <h1 class="names"> <i class="fa fa-mobile mob" aria-hidden="true"></i>
                 Mobile No : {{gets.mobileNo}}  </h1>
              <h1 class="names">
                <i class="fa fa-whatsapp apps" aria-hidden="true"></i>
        
                whatsApp : {{gets.whatsapp}}  </h1>
             <h1 class="names"> <i class="fa fa-envelope mails" aria-hidden="true"></i>
              
                Email Id : {{gets.emailid}} </h1>
              <h1 class="names"> 
                <i class="fa fa-home adds" aria-hidden="true"></i>
        
                Address : {{gets.address}}  </h1>
             
            </div>

                </div>
                

</div>
 

<div class="col-sm-12 dffs" *ngFor="let gets of aboutUsgets">
  
  <h3> Keep in touch </h3>
  <div class="col-sm-2 icns">
    <a href="{{gets.fb}}" target="_blank">
  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
  </a>
  </div>
  
  <div class="col-sm-2 icns"> 
  <a href="{{gets.youtube}}" target="_blank">
    <i class="fa fa-youtube-play yt" aria-hidden="true"></i></a>
  </div>
  <div class="col-sm-2 icns"> 
  <a href="{{gets.inst}}/" target="_blank">
  <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
  </div>
  
  </div>
<div class="col-sm-12 dffs">
  <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> T-BJC </b> </h6>
</div>
 </div>
