 

<div class="col-sm-12">
 
<div class="col-sm-4 acc" *ngFor="let gets of accDetails">
  
 
<h6> <b> Acc NO:_id {{gets._id}} </b>  </h6>
<h4> User Name : {{gets.userName}} - User Role {{gets.role}} </h4>
<h4> User Contact No : {{gets.contactNo}} </h4>
<h4> Gmail Id: {{gets.email}} </h4>
<h4> Areas Id {{gets.adminsId}} </h4>
<button class="btn-primary upbuttons" (click)="userAccountIdDelete(gets)"> Delete </button>

</div>
</div>
